{% extends 'blog/base.html' %}
{% block main_area %}
    <h1>
        Blog
        {% if category %}<span class="badge badge-secondary">{{ category }}</span>{% endif %}
        {% if tag %}<span class="badge badge-light"><i
                class="fas fa-tags"></i>{{ tag }} ({{ tag.alert_history_set.count }})</span>{% endif %}
    </h1>
    {% if alert_history_list.exists %}
        {#model을 통해서 데이터 가져오는 부분#}
        {% for p in alert_history_list %}
            <!-- Blog Post -->
            <div class="card mb-4">
                {#                http://127.0.0.1:8000/media/blog/images/2022/01/19/cat4_eSKtMZP.PNG 도대체가 src="{{ p.head_image.url }}" 이게 왜 안먹히는건지 경로...ㅠ#}
                {% if p.head_image %}
                    {#                        <img class="card-img-top" src="http://127.0.0.1:8000/media/{{ p.head_image }}" alt="head image">#}
                    <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image">
                {% else %}
                    <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image">
                {% endif %}



                <div class="card-body">
                    {# 카테고리 추가 #}
                    {% if p.category %}
                        <span class="badge badge-secondary float-right">{{ p.category }}</span>
                    {% else %}
                        <span class="badge badge-secondary float-right">미분류</span>
                    {% endif %}
                    <h2 class="card-title">{{ p.date }}</h2>
                    <p class="card-text">{{ p.content | truncatewords:45 }}</p> {# truncatewords : 텍스트 일부만 보여주기#}

                    {# 태그 #}
                    {% if p.tag.exists %}
                        <i class="fas fa-tags"></i>
                        {% for tag in p.tag.iterator %}
                            <a href="{{ tag.get_absolute_url }}"><span
                                    class="badge badge-pill badge-light">{{ tag }}</span></a>
                        {% endfor %}
                        <br/>
                        <br/>
                    {% endif %}

                    <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ p.create_at }} by
                    <a href="#">{{ p.author | upper }}</a> {# 작성자 추가 #}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>아직 게시물이 없습니다</h3>
    {% endif %}


    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>

{% endblock %}